.experts {
  p {
    color: #828282;
  }
  .cards {
  }
  margin-left: 55px;
  margin-right: 55px;
  .card-img-top {
    height: 131px;
    width: 131px;
  }

  .card:hover {
    box-shadow: 2px 2px 5px #888888;
    border: 0;
  }
}

@media (min-width: 1850px) {
  .experts {
    .cards {
      padding-left: 377px;
      padding-right: 377px;
    }
  }
}
