.hero-section {
  padding-left: 70px;
  padding-right: 70px;
  margin: 0;
  .hero-left {
    .hero-yt {
      height: 60px;
      width: fit-content;
      padding-left: 0;
      align-items: flex-end;
    }
    .expert-img {
      height: 79.41px;
      width: auto;
    }
    h1 {
      font-family: "Inter", sans-serif;
      font-weight: 700;
      padding-right: 0;
    }

    p {
      font-family: "Poppins", sans-serif;
      color: #727272;
      font-size: 20px;
    }
  }

  .hero-right {
    width: 40%;
    img {
    }
  }
  .hero-creative {
    background-color: #ffffff;
    margin-right: 40rem;
    width: fit-content;
    transform: translate(-90px, -100px);
  }
}

@media (min-width: 1850px) {
  .hero-section {
    padding-left: 127px;
    padding-right: 127px;

    h1 {
      font-size: 90px;
    }
    .hero-right {
      width: 35%;
    }
  }
}

@media(min-width:1400px){
  
}

@media (max-width: 992px) {
  .hero-section {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    .hero-left {
      .hero-left-title {
        display: flex;
        justify-content: center;
      }
      img {
        height: 50%;
        width: 50%;
      }

      .hero-buttons {
        img {
          padding-right: 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .hero-section {
    img {
      height: 70%;
      width: 70%;
    }
  }
}
