.optimise-website {
  padding-left: 127px;
  padding-right: 67px;

  .card{
    height: 472px;
  }
  .card-body {
    flex-grow: 1;
  }
  .optimise-keyword {
    .card {
      background-image: url("../assets/1.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .optimise-content {
    .card {
      background-image: url("../assets/2.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .optimise-target {
    .card {
      background-image: url("../assets/3.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .optimise-continuous {
    .card {
      background-image: url("../assets/4.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .col:hover {
    border-bottom: 4px solid #717ae0;
  }
}

@media (min-width: 1850px){
.optimise-website{
  h2{
    font-size: 55px;
  }
  .optimise-para{
    font-size: 20px;
    font-weight: 400;
    width: 827px;
  }
  .card{
    width: 400px;
  }
}
}