.perfect-solution {
  p {
    color: #828282;
  }
  background-image: url("../assets/perfect-sol-bg.png");
  background-size: contain;
  background-position: center;
  padding: 0;
  margin: 0;

  .perfect-solution-text {
    padding-right: 0;
  }
}

@media (min-width: 1850px) {
  .perfect-solution {
    padding-left: 333px;
    padding-right: 333px;
    padding-top: 38px;
    padding-bottom: 38px;
  }
}
