.perfect-solution {
  p {
    color: #828282;
  }
  background-color: #f2f2f2;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;

  .perfect-solution-text {
    padding-right: 0;
  }
}
