// Import all of Bootstrap’s CSS
@import "bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@import "./hero.scss";
@import "./management.scss";
@import "./optimise.scss";
@import "./perfect-solution.scss";
@import "./grow-get-drive.scss";
@import "./website-speed.scss";
@import "./seo.scss";
@import "./plans.scss";
@import "./experts.scss";
@import "./clients-say.scss";
@import "./subscribe.scss";
@import "./footer.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
